<!DOCTYPE html>
<html>
    <head>
        <title>Workspace</title>
        <%= stylesheet_link_tag    'bootstrap', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'bootstrap', 'data-turbolinks-track' => true %>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
    </head>
    <body>
        <%= render partial: "layouts/header" %>
        <div id="container">
            <%= yield %>
        </div>
        
        
        <div id="footer">
            <div id="footer-contents">
                Copyright &#169; 2015 AlbertLabs. All Rights Reserved.
            </div>
        </div>
    </body>
</html>
